#pere{
    height: 500px;
    width: 500px;
    background-color: red;
}
#fils{
    height: 50%;
    width: 50%;
    background-color: blue;
    animation: left-to-right 3s forwards infinite alternate;

}
#pere:hover #fils{
    
    animation-play-state: paused;
}
@keyframes left-to-right{
    25%{
            transform: translateY(100%);
            background-color: yellow;
    }
    50%{
            transform: translateX(100%) translateY(100%);
            background-color: green;
    }
    75%{
            transform: translateX(100%);
            background-color: black;
    }
    100%{
            transform: translateX(0%);
            background-color: blueviolet;
    }
}